link = "https://www.imdb.com/chart/top/"

In [1]:
from selenium import webdriver
import time
from bs4 import BeautifulSoup
import json
import pandas  as pd

In [2]:
driver = webdriver.Chrome()

url = "https://www.imdb.com/chart/top/"
driver.get(url)
time.sleep(3)

soup = BeautifulSoup(driver.page_source, "html.parser")

driver.quit()

In [3]:
script_tag = soup.find("script", id="__NEXT_DATA__")
json_data = json.loads(script_tag.string)

film_list = json_data["props"]["pageProps"]["pageData"]["chartTitles"]["edges"]

In [4]:
data = []
for film in film_list:
    rank = film["currentRank"]
    node = film["node"]
    title = node["titleText"]["text"]
    year = node["releaseYear"]["year"]
    rating = node["ratingsSummary"]["aggregateRating"]
    data.append({
        "Rank": rank,
        "Title": title,
        "Year": year,
        "Rating": rating
    })

df = pd.DataFrame(data)

In [5]:
df.head()

   Rank                     Title  Year  Rating
0     1  The Shawshank Redemption  1994     9.3
1     2             The Godfather  1972     9.2
2     3           The Dark Knight  2008     9.0
3     4     The Godfather Part II  1974     9.0
4     5              12 Angry Men  1957     9.0

In [6]:
df.to_csv("11.imdb_top250.csv", index=False, encoding="utf-8-sig")

print("✅ done file imdb_top250.csv")

✅ done file imdb_top250.csv